* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}


@font-face{
  font-family: decalo;
  src: url(fonts/decalotype.black.ttf);
}

@font-face{
  font-family: extendapiupiu;
  src: url(fonts/Gotham\ Bold.otf);
}


body {
  font-family:'extendapiupiu';
  background: linear-gradient(90deg, #5030E3, #306AE3, #A930E3, #E330C3);
  color: white;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.logo img{
  margin-top: 15px;
  width: 200px;
}



/* Botão hamburguer (mobile) */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  padding: 100px 20px;
}

.hero .bird {
  position: absolute;
  top: -385px;
  left: -200px;
  width: 1000px;
}

.hero-card {
  background: rgba(0, 0, 0, 0.692);
  border-radius: 30px;  
  padding: 120px 20px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.hero-text h1 {
  font-family: "decalo";
  font-size:  6rem;
  padding-bottom: 12px;
  color: white;
  line-height: 1;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #eee;
}

.card-text{
  background: rgba(0, 0, 0, 0.692);
  border-radius: 30px;  
  padding: 30px 65px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.card-text p{
  font-size: 8;
  margin-top: 20px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dots span {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.5;
}

.socials {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials img {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: transform 0.2s;
}

.socials img:hover {
  transform: scale(1.2);
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background: #ffffff;
  border-radius: 20px;
}
.card-header{
  background: rgba(0, 0, 0, 0.692);
  border-radius: 30px;  
  max-width: 1000px;
  max-height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.navbar-card {
  background: #1a0032;
  border-radius: 50px;
  padding: 10px 25px;
  margin: 10px auto;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background: transparent;
  position: relative;
  margin-bottom: -80px;
}
.nav-links {
  display: flex;
  position: relative;
  z-index: 20;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a74ff7;
}


.dropdown_menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #1a0032;
}
.dropdown_menu ul{
  display: block;
  margin: 10px;
}
.dropdown_menu ul li {
  width: 150px;
  padding: 10px;
}
li {
  list-style-type: none;
  padding-left: 0;

}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a0032;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown button{
  padding: 10px 20px;
  cursor: pointer;
  background-color: #1a0032;
  color: white;
  font-size: 20px;
  font-family: "extendapiupiu";
  border: none; /* remove borda */
  background: none; /* opcional, remove bg se quiser */
  outline: none; /* remove borda ao focar */
  box-shadow: none;
}

@media (max-width: 768px) {
  .navbar-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .nav-links.active {
    display: flex;
  }
}
